
server:
  port: 8080
spring:
  datasource:
    url: jdbc:mysql://localhost:3305/accountdb
    username: root
    password: Sql@4567
  jpa:
    show-sql: true
  sql:
      init:
        mode: always
  application:
    name: "accounts"
  profiles:
    active: "prod"

  config:
    import: "optional:configserver:http://localhost:8071/"

management:
  endpoints:
    web:
      exposure:
        include: "*"


