server:
  port: 8090
spring:
  datasource:
    url: jdbc:mysql://localhost:3307/loansdb

    username: root
    password: Sql@4567
  jpa:
    show-sql: true
    sql:
      init:
        mode: always

  application:
    name: "loan"
  profiles:
    active: "qa"

  config:
    import: "optional:configserver:http://localhost:8071"

management:
  endpoints:
    web:
      exposure:
        include: "*"


